<div class="top_header">
	<div class="logo">
		<img src="images/the-ham-logo.png">
	</div>
	<div class="mobile-toggle">
		<span></span> <span></span> <span></span>
	</div>
	<ul class="menu">
		<li class="menu-items"><a href="index.html" class="active">home</a></li>
		<li class="menu-items"><a href="about.html">about</a></li>
		<li class="menu-items"><a href="#">skills</a></li>
		<li class="menu-items"><a href="#">service</a></li>
		<li class="menu-items"><a href="#">work</a></li>
		<li class="menu-items"><a href="#">testimonial</a></li>
		<li class="menu-items"><a href="#">blog</a></li>
		<li class="menu-items"><a href="#">team</a></li>
		<li class="menu-items"><a href="#">contact</a></li>
		<li class="menu-items"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
	</ul>
</div>